@page "/AddAddress/{PatientId}"
@using Clinic.Data.Enums
@using Clinic.Data.Models
@using Clinic.Data
@using Clinic.Services
@using System.ComponentModel.DataAnnotations

@inject NavigationManager NavigationManager;
@inject PatientService patientService;
@inject AddressService addressService;
@inject IToastService toastService



<PageTitle>Add Patient's Address</PageTitle>


<AuthorizeView Roles="Registrar" Context="addressAdding">
    <Authorized>
        <section>

            <h2 class="mb-3 fw-bold">Add patient's address</h2>  <br />


            <EditForm EditContext="newAddress" OnValidSubmit="Address" class="w-50 bg-gray px-4 py-3 rounded">

                <h3 class="mb-3 fw-bold">Enter the patient's:</h3>

                <DataAnnotationsValidator />
                <label class="d-block mb-1 ml-1">city</label>
                <InputText @bind-Value="@address.City" class="form-control w-75" />
                <ValidationMessage For="() => address.City" />

                <label class="d-block mb-1 ml-1">street </label>
                <InputText @bind-Value="@address.Street" class="form-control w-75" />
                <ValidationMessage For="() => address.Street" />

                <label class="d-block mb-1 ml-1">postal code</label>
                <InputText @bind-Value="@address.PostalCode" class="form-control w-75" />
                <ValidationMessage For="() => address.PostalCode" />

                <label class="d-block mb-1 ml-1">house number</label>
                <InputText @bind-Value="@address.HouseNumber" class="form-control w-75" />
                <ValidationMessage For="() => address.HouseNumber" />

                <label class="d-block mb-1 ml-1">local number </label>
                <InputText @bind-Value="@address.LocalNumber" class="form-control w-75" />

                <br />
                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </EditForm>
        </section>

    </Authorized>
    <NotAuthorized>
        <section>
            <h1>Access denied!</h1>
        </section>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string PatientId { get; set; } = String.Empty;

    private bool hasAddress = false;

    protected override void OnInitialized()
    {
        var tempPatient = patientService.GetById(Guid.Parse(PatientId));
        if (tempPatient is not null)
        {
            patient = tempPatient;
            if (patient.Address != null)
            {
                var tempAddress = addressService.GetById(patient.Address.Id);
                if (tempAddress is not null)
                {
                    address = tempAddress;
                    hasAddress = true;
                }
            }
        }
        newAddress = new EditContext(address);

    }
    private Address address = new();
    private Patient patient = new();
    EditContext? newAddress;

    private void Address()
    {
        if (hasAddress)
        {
            addressService.Update(address);
            toastService.ShowSuccess($"Address was succesfully updated.", "Well done!");
            NavigationManager.NavigateTo($"EditPatient/{PatientId}");
        }
        else
        {
            patient.Address = address;
            addressService.Add(address);
            toastService.ShowSuccess($"Address was succesfully added to the database.", "Well done!");
            NavigationManager.NavigateTo($"EditPatient/{PatientId}");
        }
        //patient.Address = address;
        //patientService.Update(patient);
        //toastService.ShowSuccess($"Address was succesfully updated.", "Well done!");
        //NavigationManager.NavigateTo($"EditPatient/{PatientId}");
    }

    private void NavigateToPatients()
    {
        NavigationManager.NavigateTo($"EditPatient/{PatientId}");
    }
}